// Variabler
$green: #34FF6D;
$yellow: #FFE17E;
$red: #FE2828;

// Generel styling
* {
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #010001;
}

// Styling for teksten
.text-group {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 800px;
    justify-self: center;
    gap: 1rem;
    margin: 3rem 2rem 3rem 2rem;

    p, li, h1 {
        color: $green;
        font-family: 'Pixelify Sans', sans-serif;
    }
    h1 {
        font-size: 35px;
        text-align: center;
    }
    p {
        font-size: 18px;
    }
    ul {
        list-style-type: none;
        text-align: center;
        padding: 0;
    }
    img {
        width: 17rem;
    }
}

// Styling for knapperne
.btn-group {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    button {
        height: 5rem;
        width: 15rem;
        border-radius: 15px;
        background-color: #26252A;
        border: 2px solid #fff;
        color: #fff;
        font-family: 'Pixelify Sans', sans-serif;
    }
}

// Elementer med class="hidden" vises ikke.
.hidden {
    display: none;
}

// Styling for slutningerne
.ending-slide {

    img {
        width: 8rem;
        opacity: 0.5;
        bottom: 0;
        z-index: -1;
    }
}

#yellow-ending {
    p, h1 {
        color: $yellow;
    }
}
#green-ending {
    p, h1 {
        color: $green;
    }
}
#red-ending, #scenario5 {
    p, h1 {
        color: $red;
    }
}


// Media Queries for responsivitet

// Skærmbredde på minimum 800px
@media screen and (min-width: 800px) {
    .text-group {
        h1 {
            font-size: 60px;
        }
        p, li {
            font-size: 22px;
        }
        img {
            width: 25rem;
        }
    }
    
    .btn-group {
        flex-direction: row;
    }

    .ending-slide {

        img {
            width: 12rem;
        }
    }
}
// Skærmbredde på minimum 1200px
@media screen and (min-width: 1200px) {
    .text-group {
        h1 {
            font-size: 80px;
        }
        p, li {
            font-size: 26px;
        }
        img {
            width: 30rem;
        }
    }
    
    .btn-group {
    
        button {
            height: 7.5rem;
            width: 22.5rem;
            font-size: 22px;
        }
    }

    .ending-slide {

        img {
            width: 16rem;
        }
    }
}